# Environment variables
.env

# Python virtual environment
.venv/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
